<!--The content below is only a placeholder and can be replaced.-->

<h2>Here are some links to help you start:</h2>
<input type="text" [(ngModel)]="name" />
{{ name }}

<app-server></app-server>
<app-servers></app-servers>

<app-string-interpolation></app-string-interpolation>
<app-property-binding-demo></app-property-binding-demo>
<app-event-binding></app-event-binding>
<app-passing-andusing-data-demo></app-passing-andusing-data-demo>
<app-two-way-data-binding></app-two-way-data-binding>
<app-bindings-summery></app-bindings-summery>
<app-ng-if-directive-test></app-ng-if-directive-test>
